<template>
  <v-app id="app">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
      v-if="logueado"
      hide-overlay
      stateless
      floating
      height="100vh"
      color="primary"
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-avatar
            style="width: 50px; height: 50px; margin-right: 4px"
          >
            <img :src="perfil" alt="img" />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title class="color-change">{{
              logueado.nombre
            }}</v-list-item-title>
            <v-list-item-subtitle>
              <span class="color-change">{{ logueado.rol }}</span>
            </v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content style="width: 20%; flex: none">
            <v-list-item-action style="margin-right: 0">
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-width="200"
                offset-x
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    color="secondary"
                    v-bind="attrs"
                    v-on="on"
                    style="cursor: pointer; margin: 0 auto"
                    >mdi-cog-outline</v-icon
                  >
                </template>

                <v-card color="primary">
                  <v-list>
                    <v-list-item>
                      <v-list-item-avatar>
                        <img :src="perfil" alt="img" />
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-list-item-title>{{
                          logueado.nombre
                        }}</v-list-item-title>
                        <v-list-item-subtitle>{{
                          logueado.rol
                        }}</v-list-item-subtitle>
                        <v-list-item-subtitle>{{
                          mensaje
                        }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-file-input
                          :rules="rules"
                          accept="image/png, image/jpeg, image/bmp"
                          hide-input
                          name="file"
                          type="file"
                          @change="imgFile"
                          prepend-icon="mdi-camera"
                        >
                        </v-file-input>
                      </v-list-item-action>
                    </v-list-item>
                  </v-list>

                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-alert
                      dense
                      elevation="18"
                      icon="mdi-account-convert"
                      text
                      type="error"
                      style="font-size: 0.7rem"
                      v-show="image"
                    >
                      Tamaño maximo 2mb</v-alert
                    >
                    <v-spacer></v-spacer>
                    <v-btn
                      color="secondary"
                      right
                      text
                      @click="!imgFile && save"
                      >Cambiar Imagen</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-list-item-action>
          </v-list-item-content>
        </v-list-item>
      </template>

      <!-- Appsider -->
      <template>
        <appsider />
      </template>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn block class="vist-block" style="display: none" @click="salir">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="primary"
      dark
    >
      <v-toolbar-title>
        <v-app-bar-nav-icon
          style="display: block"
          class="vist-none"
          large
          @click.stop="drawer = !drawer"
          v-if="Administrador || Vendedor || Almacenero"
        ></v-app-bar-nav-icon>
        <span v-else></span>
      </v-toolbar-title>
      <v-toolbar-title
        style="display: block"
        class="ml-1 vist-none"
        v-if="Administrador || Vendedor || Almacenero"
        >Phone technology C.A</v-toolbar-title
      >
      <span v-else></span>
      <v-spacer></v-spacer>
      <v-badge
        bordered
        bottom
        color="success"
        dot
        offset-x="28"
        offset-y="24"
        v-show="estado"
      >
        <v-list-item-avatar>
          <img :src="perfil" alt="img" />
        </v-list-item-avatar>
      </v-badge>

      <v-app-bar-nav-icon
        class="vist-block"
        style="display: none"
        large
        v-if="Administrador || Vendedor || Almacenero"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <span v-else></span>
      <v-btn
        @click="salir"
        icon
        v-if="logueado"
        class="mr-2 vist-none"
        style="display: block"
      >
        <v-icon>mdi-logout-variant</v-icon>
      </v-btn>
      <v-btn :to="{ name: 'login' }" icon v-else class="mr-2">
        <v-icon>mdi-login-variant </v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-container fluid fill-height justify-center align-content-center>
        <v-slide-y-transition mode="out-in">
          <router-view
            v-if="$route.meta.log || Administrador || Vendedor || Almacenero"
          />
          <presentation v-else />
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer padless color="primary" dark>
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} — <strong>Phone technology C.A</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import axios from "axios";
import presentation from "./views/Presentation.vue";
import appsider from "./components/app/Appsider.vue";

export default {
  components: {
    presentation,
    appsider,
  },
  name: "App",
  data() {
    return {
      estado: false,
      image: false,
      drawer: false,
      menu: false,
      rules: [(value) => !value || value.size < 2000000],
    };
  },
  created() {
    this.$store.dispatch("autoLogin");
    this.list();
  },
  computed: {
    perfil() {
      return !this.$store.state.token
        ? localStorage.clear("perfil")
        : localStorage.getItem("perfil");
    },
    mensaje() {
      return !this.$store.state.token ? "" : "Espere hasta cierre la ventana";
    },
    logueado() {
      this.$store.state.usuario ? (this.estado = true) : (this.estado = false);
      return this.$store.state.usuario;
    },
    Administrador() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol === "Administrador"
      );
    },
    Vendedor() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol === "Vendedor"
      );
    },
    Almacenero() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol === "Almacenero"
      );
    },
  },
  methods: {
    async imgFile(file) {
      const cloudUrl =
        "https://api.cloudinary.com/v1_1/jackson-quintero/upload";
      const forData = new FormData();
      forData.append("upload_preset", "react-journal");
      forData.append("file", file);
      try {
        const rest = await fetch(cloudUrl, {
          method: "POST",
          body: forData,
        });
        if (rest.ok) {
          const { secure_url } = await rest.json();
          this.save(secure_url);
        } else {
          return null;
        }
      } catch (error) {
        console.log(error);
      }
      this.image = false;
    },
    save(file) {
      if (!this.$store.state.token && !file) return;
      axios.put(
        "usuario/perfil",
        {
          _id: this.$store.state.usuario._id,
          imagen: file,
        },
        { headers: { Token: this.$store.state.token } }
      );
      this.menu = false;
      this.list(file);
    },
    list(file) {
      if (!this.$store.state.token) return;
      axios
        .get(`usuario/query?_id=${this.$store.state.usuario._id}`, {
          headers: { Token: this.$store.state.token },
        })
        .then(({ data }) => {
          localStorage.setItem("perfil", file ? file : data.imagen);
        })
        .catch((err) => console.log(err));
    },
    salir() {
      this.$store.dispatch("salir");
    },
  },
};
</script>

<style>
.color-change {
  color: #eee;
}
.v-list-group i {
  color: #eee !important;
}
.activo {
  color: #4caf50;
}
@media (max-width: 959px) {
  .vist-block {
    display: block !important;
  }
  .vist-none {
    display: none !important;
  }
}
</style>