<template>
  <v-container>
    <v-col cols="12" sm="12" md="12">
      <div class="ct-chart">
        <canvas id="ComprasMes" > </canvas>
      </div>
    </v-col>
  </v-container>
</template>

<script>
import axios from "axios";
import Chart from "chart.js/auto";
export default {
  name: "CompraAnual",
  data() {
    return {
      selectItem: {
        meses: [],
        totales: [],
      },
      mes: "",
      //header Store
      header: { Token: this.$store.state.token },
    };
  },
  computed: {},
  methods: {
    list() {
      axios
        .get("ingreso/grafico12meses", { headers: this.header })
        .then(({ data }) => {
          data.map((x) => {
            switch (x._id.mes) {
              case 1:
                this.mes = "Enero";
                break;
              case 2:
                this.mes = "Febrero";
                break;
              case 3:
                this.mes = "Marzo";
                break;
              case 4:
                this.mes = "Abril";
                break;
              case 5:
                this.mes = "Mayo";
                break;
              case 6:
                this.mes = "Junio";
                break;
              case 7:
                this.mes = "Julio";
                break;
              case 8:
                this.mes = "Agosto";
                break;
              case 9:
                this.mes = "Setiembre";
                break;
              case 10:
                this.mes = "Octubre";
                break;
              case 11:
                this.mes = "Noviembre";
                break;
              case 12:
                this.mes = "Diciembre";
                break;
              default:
                this.mes = "error";
            }
            this.selectItem.meses.push(this.mes + "-" + x._id.year);
            this.selectItem.totales.push(x.total);
          });
          this.graficar();
        })
        .catch((err) => console.log(err));
    },

    graficar() {
      new Chart(document.getElementById("ComprasMes").getContext("2d"), {
        type: "bar",
        data: {
          labels: this.selectItem.meses,
          datasets: [
            {
              label: "Compras de los Ultimos 12 meses",
              data: this.selectItem.totales,
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    },
  },
  mounted() {
    this.list();
  },
};
</script>
