<template>
  <v-container v100>
    <v-layout justify-center align-center>
      <v-flex xs12 sm7 md6 lg5 xl4>
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text style="padding: 30px 22px">
            <v-form>
              <v-text-field
                v-model="log.email"
                label="Email"
                name="email"
                prepend-icon="person"
                type="email"
                style="margin-top: 30px"
                autocomplete="off"
              ></v-text-field>

              <v-text-field
                v-model="log.password"
                label="Password"
                name="password"
                prepend-icon="lock"
                type="password"
                style="margin-top: 30px"
                autocomplete="off"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions style="padding: 30px">
            <v-spacer></v-spacer>
            <v-btn @click="ingresar()" color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
        <v-alert dense outlined type="error" v-show="error">
          {{ MosError }}
        </v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      log: {
        email: "jackson@gmail.com",
        password: "admin",
      },
      defaultLog: {
        email: "",
        password: "",
      },
      error: false,
    };
  },
  computed: {
    MosError() {
      if (this.log.email || this.log.password) this.error = false;
      return "Error 404 usuario no existe";
    },
  },
  methods: {
    itemClear() {
      this.error = true;
      this.$nextTick(() => {
        // this.log = Object.assign({}, this.defaultLog);
      });
    },

    ingresar() {
      if (!this.log.email || !this.log.password) return;
      axios
        .post("usuario/login", {
          email: this.log.email,
          password: this.log.password,
        })
        .then(({ data }) => {
          this.$store.dispatch("guardarToken", data.tokenReturn);
          this.$router.push("/").catch(() => {});
          localStorage.setItem("perfil", this.$store.state.usuario.imagen);
        })
        .catch((err) => this.itemClear(err));
    },
  },
};
</script>