<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="primary"
    dark
  >
    <v-toolbar-title>
      <v-app-bar-nav-icon
        style="display: block"
        class="vist-none"
        large
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
    </v-toolbar-title>
    <v-toolbar-title style="display: block" class="ml-1 vist-none"
      >Phone technology C.A</v-toolbar-title
    >
    <v-spacer></v-spacer>
    <v-badge
      bordered
      bottom
      color="success"
      dot
      offset-x="28"
      offset-y="24"
      v-show="estado"
    >
      <v-list-item-avatar>
        <img :src="perfil" alt="img" />
      </v-list-item-avatar>
    </v-badge>

    <v-app-bar-nav-icon
      class="vist-block"
      style="display: none"
      large
      @click.stop="drawer = !drawer"
    ></v-app-bar-nav-icon>

    <v-btn
      @click="salir"
      icon
      v-if="logueado"
      class="mr-2 vist-none"
      style="display: block"
    >
      <v-icon>mdi-logout-variant</v-icon>
    </v-btn>
    <v-btn :to="{ name: 'login' }" icon v-else class="mr-2">
      <v-icon>mdi-login-variant </v-icon>
    </v-btn>
  </v-app-bar>
</template>


<script>
export default {
  name: "Appnav",
  data() {
    return {
      estado: false,
      drawer: false,
    };
  },
  computed: {
    perfil() {
      return !this.$store.state.token
        ? localStorage.clear("perfil")
        : localStorage.getItem("perfil");
    },
    logueado() {
      this.$store.state.usuario ? (this.estado = true) : (this.estado = false);
      return this.$store.state.usuario;
    },
  },
  methods: {
    salir() {
      this.$store.dispatch("salir");
    },
  },
};
</script>

<style>