<template>
  <v-list dense>
    <!-- Home -->
    <template v-if="Administrador || Vendedor || Almacenero">
      <v-list-item :to="{ name: 'home' }">
        <v-list-item-action class="mr-6">
          <v-icon class="ml-4" color="secondary">mdi-view-dashboard</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title class="color-change"> Home </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>

    <!-- Estadistica -->
    <template v-if="Administrador || Vendedor || Almacenero">
      <v-list-item :to="{ name: 'EstadisticaMes' }">
        <v-list-item-action class="mr-6">
          <v-icon class="ml-4" color="secondary">mdi-chart-histogram</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title class="color-change">
            Estadistica
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>

    <!-- Almacen -->
    <template v-if="Administrador || Almacenero">
      <v-list-group>
        <v-list-item slot="activator">
          <v-list-item-action class="mr-6">
            <v-icon color="secondary">mdi-garage-open</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-change">
              Almacén
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'articulo' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Artículos
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'categoria' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Categorías
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </template>

    <!-- Compras -->
    <template v-if="Administrador || Vendedor">
      <v-list-group>
        <v-list-item slot="activator">
          <v-list-item-action class="mr-6">
            <v-icon color="secondary">mdi-cart</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-change">
              Ingresos
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'venta' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change"> Ventas </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'ingreso' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Compras
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </template>

    <!-- Ventas -->
    <template v-if="Administrador || Almacenero">
      <v-list-group>
        <v-list-item slot="activator">
          <v-list-item-action class="mr-6">
            <v-icon color="secondary">mdi-account-group-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-change">
              Usuarios</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'cliente' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Clientes
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'proveedor' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Proveedores
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </template>

    <!-- Accesos -->
    <template v-if="Administrador">
      <v-list-group>
        <v-list-item slot="activator">
          <v-list-item-action class="mr-6">
            <v-icon color="secondary">mdi-account-star</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-change">
              Accesos
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'usuario' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Usuarios
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </template>

    <!-- Consultas -->
    <template v-if="Administrador || Vendedor || Almacenero">
      <v-list-group>
        <v-list-item slot="activator">
          <v-list-item-action class="mr-6">
            <v-icon color="secondary">mdi-dns</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="color-change">
              Consultas
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'FechaCompra' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Consulta Compras
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ name: 'FechaVentas' }">
          <v-list-item-content class="ml-16">
            <v-list-item-title class="color-change">
              Consulta Ventas
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </template>
  </v-list>
</template>
<script>
export default {
  name: "Appsider",

  computed: {
    Administrador() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol === "Administrador"
      );
    },
    Vendedor() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol === "Vendedor"
      );
    },
    Almacenero() {
      return (
        this.$store.state.usuario &&
        this.$store.state.usuario.rol === "Almacenero"
      );
    },
  },
};
</script>