<template class="EstadisticaMes">
  <v-container>
    <v-card class="mx-auto" outlined>
      <v-img
        height="120"
        src="https://clxlatin.com/wp-content/uploads/2019/12/Samsung-Galaxy-A71-1024x576.jpg"
      ></v-img>
      <v-list-item three-line>
        <v-list-item-content>
          <div class="text-overline mb-4">Phone technology C.A</div>
          <v-list-item-title class="text-h5 mb-1">
            Estadisticas Compra y Venta
          </v-list-item-title>
          <v-list-item-subtitle
            >Estadisticas de los ultimos 12 meses</v-list-item-subtitle
          >
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-layout class="my-5">
      <venta-Mes />
      <compra-Mes />
    </v-layout>
  </v-container>
</template>
<script>
import VentaMes from "../components/layouts/VentaMes.vue";
import CompraMes from "../components/layouts/CompraMes.vue";

export default {
  name: "EstadisticaMes",

  components: {
    VentaMes,
    CompraMes,
  },
};
</script>
