<template class="home">
  <v-col cols="12" sm="12" md="12">
    <v-row justify="space-around">
      <v-card max-width="500">
        <v-img
          src="https://www.loginstore.com/imagenes/banner-superior-celulares-general-ofertas-2.jpg"
          height="150px"
          dark
        >
          <v-row class="fill-height">
            <v-card-title class="pl-3 pt-16">
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon color="primary">mdi-twitter</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon color="primary">mdi-facebook</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon color="primary">mdi-instagram</v-icon>
              </v-btn>
            </v-card-title>

            <v-spacer></v-spacer>
            <v-card-title class="pl-6 pt-12">
              <div class="text-h4 pl-12 pt-12" color="primary">
                Phone technology
              </div>
            </v-card-title>
          </v-row>
        </v-img>

        <v-list two-line>
          <v-list-item>
            <v-list-item-icon>
              <v-icon color="primary"> mdi-phone </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>(650) 555-1234</v-list-item-title>
              <v-list-item-subtitle>Manager</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-icon>
              <v-icon>mdi-message-text</v-icon>
            </v-list-item-icon>
          </v-list-item>

          <v-list-item>
            <v-list-item-action></v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>(323) 555-6789</v-list-item-title>
              <v-list-item-subtitle>office</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-icon>
              <v-icon>mdi-message-text</v-icon>
            </v-list-item-icon>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item>
            <v-list-item-icon>
              <v-icon color="primary"> mdi-email </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>phone_technology@example.com</v-list-item-title>
              <v-list-item-subtitle>Personal</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-action></v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>phone_technology@example.com</v-list-item-title>
              <v-list-item-subtitle>Work</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item>
            <v-list-item-icon>
              <v-icon color="primary"> mdi-map-marker </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title
                >1400 Main Street Jackson Bill</v-list-item-title
              >
              <v-list-item-subtitle>Orlando, FL 79938</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>

      <div class="content">
        <div class="content-box">
          <p class="content-text">DIGITAL CLOCK</p>
          <p class="content-date">{{ dateTime }}</p>
        </div>
        <v-date-picker
          v-model="picker"
          color="primary"
          header-color="primary"
          :elevation="24"
        ></v-date-picker>
      </div>
    </v-row>
  </v-col>
</template>
<script>
import moment from "moment";
export default {
  name: "home",
  data() {
    return {
      dateTime: null,
      picker: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
    };
  },
  methods: {
    updateTimer() {
      this.dateTime = moment().format("LTS");
    },
  },
  mounted() {
    this.interval = setInterval(this.updateTimer, 1000);
  },
};
</script>
<style lang="scss">
.content {
  &-box {
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
  }
  &-date {
    font-size: 1.6rem;
  }
}
</style>
