<template>
  <v-flex>
    <v-app>
      <v-data-table :headers="headers" :items="persona" :search="search">
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Clientes</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>

            <v-spacer></v-spacer>
            <v-text-field
              label="busqueda"
              v-model="search"
              class="text-xs-center"
              append-icon="search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>

            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nuevo
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-alert
                  v-show="dialogError"
                  border="left"
                  color="red"
                  elevation="13"
                  type="error"
                >
                  {{ formValid }}
                </v-alert>

                <v-spacer></v-spacer>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.tipo_persona"
                          label="Tipo persona"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.nombre"
                          label="Nombre"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-select
                          v-model="editedItem.tipo_documento"
                          :items="selectItem.documentos"
                          label="Tipo documento"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.num_documento"
                          label="Numero documento"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.direccion"
                          label="Direccion"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.telefono"
                          label="Telefono"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.email"
                          label="Email"
                          type="email"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="primary" text @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="dialogEstatus" max-width="500px">
              <v-card>
                <v-card-title class="text-h5 justify-center">{{ formEstatus }}</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="closeEstatus"
                    >Cancelar</v-btn
                  >
                  <v-btn color="primary" text @click="estatuItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <!-- cambiar los item de manera individual -->
        <template v-slot:[`item.estado`]="props">
          <span v-if="props.item.estado" class="activo"> Activo </span>
          <span v-else class="red--text"> Inactivo </span>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)" color="primary">
            mdi-pencil-circle
          </v-icon>
          <v-icon
            v-if="item.estado"
            small
            @click="activeDeactive(1, item)"
            color="primary"
          >
            mdi-checkbox-marked-circle
          </v-icon>
          <v-icon v-else small @click="activeDeactive(0, item)" color="red">
            mdi-checkbox-blank-circle
          </v-icon>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="list()"> Resetear </v-btn>
        </template>
      </v-data-table>
    </v-app>
  </v-flex>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      //dialog
      dialog: false,
      dialogEstatus: false,
      // alert
      dialogError: false,
      // search
      search: "",
      // status
      activator: "",
      // objeto
      persona: [],
      // headers
      headers: [
        { text: "Actions", value: "actions", align: "center", sortable: false },
        { text: "Tipo", value: "tipo_persona", sortable: true },
        { text: "Nombre", value: "nombre", sortable: false },
        {
          text: "Documento",
          value: "tipo_documento",
          align: "center",
          sortable: false,
        },
        {
          text: "Num Documento",
          value: "num_documento",
          align: "center",
          sortable: false,
        },
        { text: "Direccion", value: "direccion", sortable: false },
        {
          text: "Telefono",
          value: "telefono",
          align: "center",
          sortable: false,
        },
        { text: "Email", value: "email", align: "center", sortable: false },
        { text: "Estado", value: "estado", align: "center", sortable: false },
      ],
      //items
      editedIndex: -1,
      editedItem: {
        _id: "",
        tipo_persona: "Cliente",
        nombre: "",
        tipo_documento: "",
        num_documento: "",
        direccion: "",
        telefono: "",
        email: "",
        estado: "",
      },
      defaultItem: {
        _id: "",
        tipo_persona: "Cliente",
        nombre: "",
        tipo_documento: "",
        num_documento: "",
        direccion: "",
        telefono: "",
        email: "",
        estado: "",
      },
      //selectItem
      selectItem: {
        documentos: ["DNI", "RUC", "PASAPORTE", "CEDULA"],
      },
      //header
      header: { Token: this.$store.state.token },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Item" : "Editar Item";
    },
    formEstatus() {
      return this.activator === 1
        ? "Esta seguro de Desactivar"
        : "Esta seguro de Activar";
    },
    formValid() {
      if (
        this.editedItem.nombre.length < 1 ||
        this.editedItem.nombre.length > 50
      )
        return "Nombre debe tener entre 1 - 50 Caracteres";

      if (this.editedItem.num_documento.length > 20)
        return "Numero documento debe tener entre 1 - 20 Caracteres";

      if (this.editedItem.direccion.length > 70)
        return "Direccion debe tener entre 1 - 70 Caracteres";

      if (this.editedItem.telefono.length > 20)
        return "Telefono debe tener entre 1 - 20 Caracteres";

      if (this.editedItem.email.length > 50)
        return "Email debe tener entre 1 - 50 Caracteres";

      this.dialogError = false;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogEstatus(val) {
      val || this.closeEstatus();
    },
  },

  created() {
    this.list();
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.persona.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    activeDeactive(status, item) {
      this.editedItem = Object.assign({}, item);
      this.activator = status;
      switch (status) {
        case 0:
          axios.put(
            "persona/activate",
            {
              _id: this.editedItem._id,
            },
            { headers: this.header }
          );
          break;
        case 1:
          axios.put(
            "persona/desactivate",
            {
              _id: this.editedItem._id,
            },
            { headers: this.header }
          );
          break;
      }
      this.dialogEstatus = true;
    },

    estatuItemConfirm() {
      this.list();
      this.closeEstatus();
    },

    close() {
      this.dialog = false;
      this.dialogError = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeEstatus() {
      this.dialogEstatus = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      });
    },

    list() {
      axios
        .get("persona/listClientes", { headers: this.header })
        .then(({ data }) => {
          this.persona = data;
        })
        .catch((err) => console.log(err));
      this.dialog = false;
    },

    save() {
      this.dialogError = true;
      if (this.formValid) {
        return;
      }

      if (this.editedIndex > -1) {
        axios.put(
          "persona/update",
          {
            _id: this.editedItem._id,
            tipo_persona: this.editedItem.tipo_persona,
            nombre: this.editedItem.nombre,
            tipo_documento: this.editedItem.tipo_documento,
            num_documento: this.editedItem.num_documento,
            direccion: this.editedItem.direccion,
            telefono: this.editedItem.telefono,
            email: this.editedItem.email,
          },
          { headers: this.header }
        );
      } else {
        axios.post(
          "persona/add",
          {
            tipo_persona: this.editedItem.tipo_persona,
            nombre: this.editedItem.nombre,
            tipo_documento: this.editedItem.tipo_documento,
            num_documento: this.editedItem.num_documento,
            direccion: this.editedItem.direccion,
            telefono: this.editedItem.telefono,
            email: this.editedItem.email,
          },
          { headers: this.header }
        );
      }
      this.list();
    },
  },
};
</script>
<style lang="scss">
.color--text {
  color: #8bc34a;
}
</style>




