<template>
  <v-flex>
    <v-app>
      <v-data-table :headers="headers" :items="articulo" :search="search">
        <template v-slot:top>
          <v-toolbar flat>
            <v-btn elevation="2" fab icon outlined>
              <v-icon color="primary" @click="crearPDF()">
                mdi-printer-settings
              </v-icon>
            </v-btn>
            <v-toolbar-title>Articulo</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>

            <v-spacer></v-spacer>
            <v-text-field
              label="busqueda"
              v-model="search"
              class="text-xs-center"
              append-icon="search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>

            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Nuevo
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle }}</span>
                </v-card-title>

                <v-alert
                  v-show="dialogError"
                  border="left"
                  color="red"
                  elevation="13"
                  type="error"
                >
                  {{ formValid }}
                </v-alert>

                <v-spacer></v-spacer>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-select
                          v-model="editedItem.categoria"
                          :items="selectItem.categorias"
                          label="Categoria"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.codigo"
                          label="Codigo"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.nombre"
                          label="Nombre"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.precio_venta"
                          label="Precio venta"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="editedItem.stock"
                          label="Stock"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="close"> Cancelar </v-btn>
                  <v-btn color="primary" text @click="save"> Guardar </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="dialogEstatus" max-width="500px">
              <v-card>
                <v-card-title class="text-h5 justify-center">{{
                  formEstatus
                }}</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="closeEstatus"
                    >Cancelar</v-btn
                  >
                  <v-btn color="primary" text @click="estatuItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <!-- cambiar los item de manera individual -->
        <template v-slot:[`item.estado`]="props">
          <span v-if="props.item.estado" class="activo"> Activo </span>
          <span v-else class="red--text text--lighten-2"> Inactivo </span>
        </template>
        <template v-slot:[`item.precio_venta`]="props">
          <span> ${{ props.item.precio_venta }} </span>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)" color="primary">
            mdi-pencil-circle
          </v-icon>
          <v-icon
            v-if="item.estado"
            small
            @click="activeDeactive(1, item)"
            color="primary"
          >
            mdi-checkbox-marked-circle
          </v-icon>
          <v-icon v-else small @click="activeDeactive(0, item)" color="red">
            mdi-checkbox-blank-circle
          </v-icon>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="list()"> Resetear </v-btn>
        </template>
      </v-data-table>
    </v-app>
  </v-flex>
</template>
<script>
import axios from "axios";
import { jsPDF } from "jspdf";
import "jspdf-autotable";
export default {
  data() {
    return {
      //dialog
      dialog: false,
      dialogEstatus: false,
      // alert
      dialogError: false,
      // search
      search: "",
      // status
      activator: "",
      // objeto
      articulo: [],
      categoria: [],
      // headers
      headers: [
        { text: "Actions", value: "actions", align: "center", sortable: false },
        { text: "Categoria", value: "categoria.nombre", sortable: false },
        {
          text: "Descripcion",
          value: "categoria.descripcion",
          sortable: false,
        },
        { text: "Nombre", value: "nombre", sortable: true },
        { text: "Codigo", value: "codigo", sortable: false },
        {
          text: "Precio",
          value: "precio_venta",
          align: "center",
          sortable: false,
        },
        { text: "Stock", value: "stock", align: "center", sortable: false },
        { text: "Estado", value: "estado", align: "center", sortable: false },
      ],
      //items
      editedIndex: -1,
      editedItem: {
        _id: "",
        categoria: "",
        codigo: "",
        nombre: "",
        descripcion: "",
        precio_venta: 0,
        stock: 0,
        estado: "",
      },
      defaultItem: {
        _id: "",
        categoria: "",
        codigo: "",
        nombre: "",
        descripcion: "",
        precio_venta: 0,
        stock: 0,
        estado: "",
      },
      selectItem: {
        categorias: [],
      },
      //header
      header: { Token: this.$store.state.token },
      columns: [
        { header: "Nombre", dataKey: "nombre" },
        { header: "Código", dataKey: "codigo" },
        { header: "Categoría", dataKey: "categoria" },
        { header: "Stock", dataKey: "stock" },
        { header: "Precio Venta", dataKey: "precio_venta" },
      ],
      body: [],
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Item" : "Editar Item";
    },
    formEstatus() {
      return this.activator === 1
        ? "Esta seguro de Desactivar"
        : "Esta seguro de Activar";
    },
    formValid() {
      if (this.editedItem.codigo.length > 64)
        return "Codigo No debe pasar de 64 Caracteres";
      if (
        this.editedItem.nombre.length < 1 ||
        this.editedItem.nombre.length > 50
      )
        return "Nombre debe tener entre 1 - 50 Caracteres";

      if (this.editedItem.stock.length < 0) return "Debes ingresar el Stock";

      if (this.editedItem.precio_venta.length < 0)
        return "Debes ingresar el precio valido";

      this.dialogError = false;
    },
    formSelect() {},
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogEstatus(val) {
      val || this.closeEstatus();
    },
  },

  created() {
    this.list();
  },

  methods: {
    crearPDF() {
      const doc = new jsPDF("p", "pt");
      doc.autoTable({
        columns: this.columns,
        body: this.body,
        margin: { top: 20 },
        startY: 30,
        theme: "grid",
        headStyles: {
          fillColor: [241, 196, 15],
          fontSize: 15,
        },
      });
      doc.save("Articulo.pdf");
    },
    editItem(item) {
      this.editedIndex = this.articulo.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    activeDeactive(status, item) {
      this.editedItem = Object.assign({}, item);
      this.activator = status;
      switch (status) {
        case 0:
          axios.put(
            "articulo/activate",
            {
              _id: this.editedItem._id,
            },
            { headers: this.header }
          );
          break;
        case 1:
          axios.put(
            "articulo/desactivate",
            {
              _id: this.editedItem._id,
            },
            { headers: this.header }
          );
          break;
      }
      this.dialogEstatus = true;
    },

    estatuItemConfirm() {
      this.list();
      this.closeEstatus();
    },

    close() {
      this.dialog = false;
      this.dialogError = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeEstatus() {
      this.dialogEstatus = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      });
    },
    list() {
      axios
        .get("categoria/list", { headers: this.header })
        .then(({ data }) => {
          data.map((x) => {
            this.selectItem.categorias.push({
              value: x._id,
              text: x.nombre,
            });
          });
        })
        .catch((err) => console.log(err));
      axios
        .get("articulo/list", { headers: this.header })
        .then(({ data }) => {
          this.articulo = data;
          data.map((x) => {
            this.body.push({
              nombre: x.nombre,
              codigo: x.codigo,
              categoria: x.categoria.nombre,
              stock: x.stock,
              precio_venta: x.precio_venta,
            });
          });
        })
        .catch((err) => console.log(err));

      this.dialog = false;
    },
    save() {
      this.dialogError = true;
      if (this.formValid) {
        return;
      }

      if (this.editedIndex > -1) {
        axios.put(
          "articulo/update",
          {
            _id: this.editedItem._id,
            categoria: this.editedItem.categoria,
            codigo: this.editedItem.codigo,
            nombre: this.editedItem.nombre,
            descripcion: this.editedItem.descripcion,
            precio_venta: this.editedItem.precio_venta,
            stock: this.editedItem.stock,
          },
          { headers: this.header }
        );
      } else {
        axios.post(
          "articulo/add",
          {
            categoria: this.editedItem.categoria,
            codigo: this.editedItem.codigo,
            nombre: this.editedItem.nombre,
            descripcion: this.editedItem.descripcion,
            precio_venta: this.editedItem.precio_venta,
            stock: this.editedItem.stock,
          },
          { headers: this.header }
        );
      }
      this.list();
    },
  },
};
</script>



